* {
  padding: 0%;
  margin: 0;
}
#todo {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15rem;
}
#submit-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  padding: 1rem;
  width: 10rem;
  text-transform: uppercase;
  font-size: 15px;
  color: blueviolet;
}
li {
  color: blue;
  text-align: center;
  align-items: center;
}
