* {
  padding: 0%;
  margin: 0;
}
/*============================================inner(list of todos)=========================================== */
.inner {
  background-color: #fff;
  margin: auto;
  margin-top: 3.5rem;
  align-items: center;
  width: 35rem;
  height: 30rem;
  border: 1px solid gainsboro;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

h2 {
  font-size: 1.5rem;
  height: 1.5rem;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  /* margin-bottom: 3rem; */
  /* border: none; */
  padding: 0.85rem;
}

#todo {
  width: 27rem;
  height: 2.2rem;
  border: 1px solid gainsboro;
  margin-top: 1.5rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
#submit-btn {
  width: 5rem;
  height: 2.3rem;
  margin-top: 1.5rem;
  margin-left: -1.5px;
  background-color: hsl(205, 96%, 50%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}
.inner_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoStyle {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-left: 10px;
  padding: 15px;
}

li {
  list-style-type: none;
}
@media only screen and (max-width: 600px) {
  .inner {
    width: 16rem;
  }
  #todo {
    width: 10rem;
  }
  #submit-btn {
    width: 4rem;
  }
  /* .todoStyle {
    display: flex;
  } */
  .inner_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
